footer {
    background-color: #333;
    color: white;
    text-align: center; font-size:2 px; font-family:sans-serif
}

header {
    display: flex;
    align-items: flex-start;
    background-color: #333;
    color: white;
    text-align: left;
}

header img{
    width: 20%;
}

a {
    font-family: "Arial", sans-serif; font-size: 16px; color: green; text-decoration: underline
}

a:hover {
    color: red
}

.shop-now-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.shop-now-btn:hover {
    background-color: #2980b9;color: blue  
}

.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-container > img{
    width: 15%;
}

.flex-container > button{
    width: 6%;
    margin: 0;
}

.flex-container > h3{
    font-size: x-large;
    margin-top: 1%;
    margin-bottom: 0;
}

.flex-container > p{
    margin-top: 5px;
    font-size: large;
}

