header {
    background-color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    color: white;
    justify-content: space-between;
}

div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
}

/* I dont really like how the text is formatted*/
main > .about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #ddd;
}


/* div > a prevents the "shop now" button from being effected */
div a {
    font-family: "Arial", sans-serif; 
    font-size: 20px; 
    color: green; 
    text-decoration: underline;
}

div a:hover {
    color: red
}

main .shop-now-btn {
    padding: 10px;
    margin: 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

main .shop-now-btn:hover {
    background-color: #2980b9;color: blue  
}

main .customer-reviews{
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

footer {
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
    /* below are extra things */ 
    font-family:sans-serif
}


/* .flex-container is used in products.html (will be renamed cause its a bad name)*/
/* Lost marks for assignment 1 cause we didn't have 4 products (add two more)*/
.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-container > img{
    width: 15%;
}

.flex-container > button{
    width: 6%;
    margin: 0;
}

.flex-container > h3{
    font-size: x-large;
    margin-top: 1%;
    margin-bottom: 0;
}

.flex-container > p{
    margin-top: 5px;
    font-size: large;
}

p{
    color:Black; font-family: sans-serif
 }

/* log in page - safaa*/

form {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    display: block;
    margin: 10px;
}

input[type="text"], input[type="password"] {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
}

button[type="submit"] {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    transition: background-color 0.3s, opacity 0.3s;
}

button[type="submit"]:hover {
    background-color: #45A049;
    opacity: 1.0;
}
/* dek what the sign up link is?*/
a.signup-link {
    color: #007BFF;
    text-decoration: none;
    margin: 10px;
    transition: color 0.3s, text-decoration 0.3s;
}

a.signup-link:hover {
    text-decoration: underline;
}
